/* App.scss */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: auto !important;
}

.home-container {
  text-align: center;
  padding: 2rem;

  .welcome-message, .login-prompt {
    margin-top: 2rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .btn-primary {
    margin-top: 1rem;
  }
}

.main-heading {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.peak-card {
  position: relative;
  height: 300px !important;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 15px;
  margin-bottom: 20px;
  color: white;
  background-size: cover;
  background-position: center;

  &:hover {
    transform: scale(1.05);
  }

  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: white;
  }

  .peak-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .peak-info {
    font-size: 1rem;
  }
}

.user-peak {
  .card-img-overlay {
    background-color: rgba(0, 128, 0, 0.6);
  }

  .checkmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: white;
  }

  .peak-status {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.page-title {
  text-align: center;
  margin-bottom: 2rem;
}

.peak-details {
  .peak-info {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  .peak-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.user-peak {
  .card-img-overlay {
    background-color: rgba(0, 128, 0, 0.6);
  }

  .checkmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: white;
  }

  .peak-status {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
  }
}
