.peak-details {
  .peak-info {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  .peak-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}